################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/APICoreLatestVersion/v16/Server/sqlite3/storage.ide-shm
